@charset "ISO-8859-1";
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=date] {
  -moz-appearance: textfield;
  padding: 1px 1px 1px 1px;
}

::-webkit-input-placeholder {
	padding:0px;
}

body{
	font-family: 'Poppins', Arial;
}

fieldset{
	background-color: white;
}

input{
	text-indent : 5px;
}

select.error, input.error {
	background-color: #FCCCBB;
	border-color: #FF0000 !important;
    color:#FF0000;
}

select.noerror, input.noerror {
	background-color: #e3ffd9;
	border-color: #007f00 !important;
    color:#007f00;
}

.cdesc{
	position: relative;
	display: flex;
	justify-content: center;
}

.regform{
	margin: auto;
	width: 30%;
	border: 1px solid darkgrey;
	border-radius: 5px;
	padding:14px 18px;
}

.form fieldset{
    padding: 0px;
	border : 0;
}
.form > fieldset:not(:first-of-type) {
    display: none;
}

.form .lfield {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

.form input:not([class="fbtn"]):not([class="pbtn"]):not([class="btn"]):not([class="checkbox"]){
    width: 100%;
	height: 25px;
	border: 1px solid grey;
	border-radius: 3px;
}
.form select{
    width: 100%;
	height: 29px;
	border: 1px solid grey;
	border-radius: 3px;
}

.desc{
	padding: 0px 0px 2px 0px;
	font-size:15px;
	font-weight:600;
}

.titleDesc{
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
	font-weight:300;
	font-size:30px;
}

#btnPrev{
	margin-right: 20px;
}

#btnDiv{
	position: relative;
	display: flex;
	justify-content: center;
}

#title{
	width:22%;
	margin-right:5%;
	height: 30px;
	border: 1px solid grey;
	border-radius: 3px;
}

#fname{
	width:70%;
	height: 25px;
	border-radius: 3px;
}

.form .btn{
	font-weight:600;
	font-size:20px;
	color:white;
    opacity:1;
	
    width: 40%;
	height: 35px;
	border:1px #fb641b;
	border-radius:2px;
	background:#fb641b;
	box-shadow:0 1px 2px 0 rgba(0,0,0,.2)
}

.form .fbtn, .form .pbtn{
	font-weight:600;
	font-size:20px;
	color:white;
    opacity:1;
	
    width: 30%;
	height: 35px;
	border:1px #fb641b;
	border-radius:2px;
	background:#fb641b;
	box-shadow:0 1px 2px 0 rgba(0,0,0,.2)
}

.form .dcheckbox{
	font-weight:600;
	font-size:16px;
}

.form input.checkbox{
    width: 10%;
	height: 20px;
	border-radius:2px;
}