input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
}

input[type=number] {
	-moz-appearance: textfield;
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	background: #000000;
	background: -webkit-linear-gradient(to right, #156349 50%, #000000);
	background: linear-gradient(to right, #156349 50%, #000000); //
	background: #000000; //
	background: -webkit-linear-gradient(315deg, #0f9b0f 0%, #000000 74%);
	//
	background: linear-gradient(315deg, #0f9b0f 0%, #000000 74%);
	font-family: sans-serif;
	font-weight: 100;
}

#loadDiv {
	padding-top: 50px;
	margin: auto;
	width: 100%;
	height: 100%;
}

.fundTransferElement {
	text-align: center;
	float: left;
	margin: 20px;
	width: 25%;
	height: 50%;
	padding: 0 10px;
	color: #0ADE77;
	background: #000000;
	background: -webkit-linear-gradient(to right, #156349 50%, #000000);
	background: linear-gradient(to right, #156349 10%, #000000);
}

.elements {
	top: 40%;
	font-size: 50px;
	font-weight: 800;
	position: relative;
	color: #0ADE77;
}

.hidden {
	display: none !important;
}

.container {
	padding: 100px;
	height: 100%;
	display: flex;
}

.container>div {
	flex: 1;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	float: left;
	border: 2px solid #000000;
}

li:last-child {
	border-right: none;
}

li a {
	font-weight: 600;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: #0ADE77;
}

li a:hover, .active {
	background-image: linear-gradient(to right, #156349 50%, #000000);
}

.desc {
	padding: 0px 0px 2px 0px;
	font-family: "Arial";
	font-size: 32px;
	font-weight: 600;
	color: #0ADE77;
}

.titleDesc {
	width: auto;
	height: auto;
	padding: 10px;
	text-align: left;
	position: relative;
	font-weight: 600;
	font-size: 50px;
	color: #0ADE77;
}