@charset "ISO-8859-1";

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	font-family: sans-serif;
	font-weight: 100;
}

.titleDesc {
	width: auto;
	height: auto;
	padding: 10px;
	text-align: left;
	position: relative;
	font-weight: 600;
	font-size: 50px;
	
	color:#0ADE77;
}

.split {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.container {
	margin: 30px; padding : 20px !important;
	height: 20%;
	display: flex;
	background: #000000;
	background: -webkit-linear-gradient(to right, #156349, #000000);
	background: linear-gradient(to right, #156349, #000000);
	padding: 20px !important;
}

.left {
	background-color: #156349;
}

.right {
	background-color: #156349;
	background: #000000;
	background: -webkit-linear-gradient(to right, #156349, #000000);
	background: linear-gradient(to right, #156349, #000000);
}

.right {
	padding: 0px 0px 0px 0px;
	right: 0;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.top {
	background: #000000;
	background: -webkit-linear-gradient(to right, #156349, #000000);
	background: linear-gradient(to right, #156349, #000000);
}

.middle {
	background: #000000;
	background: -webkit-linear-gradient(to right, #156349, #000000);
	background: linear-gradient(to right, #156349, #000000);
}

.bottom {
	background: #000000;
	background: -webkit-linear-gradient(to right, #156349, #000000);
	background: linear-gradient(to right, #156349, #000000);
}