@charset "ISO-8859-1";
input{
	text-indent : 5px;
}

.regform{
	margin: auto;
	width: 60%;
	border: 1px solid darkgrey;
	border-radius: 3px;
	padding:14px 18px;
}

.form fieldset{
    padding: 0px;
	border : 0;
}

input.error {
	background-color: #FCCCBB;
	border-color: #FF0000 !important;
    color:#FF0000;
}

input.noerror {
	background-color: #e3ffd9;
	border-color: #007f00 !important;
    color:#007f00;
}

.error{
    color:#FF0000 !important;
}

.form input{
    width: 100%;
	height: 25px;
	border: 1px solid grey;
	border-radius: 3px;
}

.form .lfield {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

.form .btn{
	font-weight:600;
	font-size:20px;
	color:white;
    opacity:1;
	
    width: 100%;
	height: 35px;
	border:1px #0ADE77;
	border-radius:2px;
	background:#0ADE77;
	box-shadow:0 1px 2px 0 rgba(0,0,0,.2)
}


html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	font-family: sans-serif;
	font-weight: 100;
}

.desc{
	padding: 0px 0px 2px 0px;
	font-family:"Arial";
	font-size:15px;
	font-weight:600;
	color: #0ADE77;
}

.titleDesc {
	width: auto;
	height: auto;
	padding: 10px;
	text-align: left;
	position: relative;
	font-weight: 600;
	font-size: 50px;
	
	color:#0ADE77;
}

.split {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.container {
	margin: 30px; padding : 20px !important;
	height: 20%;
	display: flex;
	background: #000000;
	background: -webkit-linear-gradient(to right, #156349, #000000);
	background: linear-gradient(to right, #156349, #000000);
	padding: 20px !important;
}

.left {
	background-color: #156349;
}

.right {
	background-color: #156349;
	background: #000000;
	background: -webkit-linear-gradient(to right, #156349, #000000);
	background: linear-gradient(to right, #156349, #000000);

	padding: 0px 0px 0px 0px;
	right: 0;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
